<div class="container">
  <section id="post">
    <article class="post">
      <h1><%= @post.title %></h1>
      <span><%= @post.email %></span>
      <span><%= @post.price %></span>
      <p><%= @post.description %></p>
  </section>
</div>